<form action="/users/create" method="post">
    <input type="text" placeholder="Name" name="name" style="display:block;">
    <input type="text" placeholder="Age" name="age" style="display:block;">
    <button type="submit">Register</button>
</form>