<form action="/users/edit/{{user.id}}" method="post">
    <input type="text" name="name" value="{{user.name}}" style="display:block;">
    <input type="text" name="age" value="{{user.age}}" style="display:block;">
    <button type="submit">Edit</button>
</form>